.mask {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
}

.le-is-vertical {
  flex-direction: column
}
.le-is-horizontal {
  flex-direction: row;
}